.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
*.pending-snap
debug/
target/
target-alpine/
/bin/
**/*.rs.bk
*.pdb
__pycache__
*.so
*.pyd
*.dll
flamegraph.svg
perf.data
perf.data.old
profile.json
/site
**/.DS_Store
